*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color:pink
}

h1 ,h2{
  text-align: center;
  margin-top: 40px  auto;

  color: #1a0044;
}

#container {
  width: 22%;
  margin: 25px auto;
  color:rebeccapurple;
}
.box {
  display: block;
  float: left;
  width: 31%;
  height: 200px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  background-color: #093145;
  text-align: center;
  line-height: 200px;
  font-size: 150px;
  color: whitesmoke;
}

@media (max-width: 740px) {
  .box {
    width: 48%;
  }

form
{
  width: 30%;
text-align: center;
display: flex;
border: 2px solid black;
font-size: 30px;
} 












}
